@using IHFF_Websystem.Models
@model IEnumerable<IHFF_Websystem.Models.Evenement>
<h2>Donderdag</h2>
<div id="program">
    @foreach (Evenement e in Model)
    {
        <button id="eID@(e.evenementID)" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/@(e.evenementID)', '#Popop1Content');">@(e.evenementNaam)</button>
    }
</div>
<p>
    Hierboven vindt u het festival programma...
</p>


<!--Popup HTML-->
<div class="overlay-bg"></div>
<div class="overlay-content popup1" id="Popop1Content">

</div>