@{
    ViewBag.Title = "Donderdag";
}
<head>
    <title>Woensdag</title>
    <link rel="stylesheet" type="text/css" href="~/Content/ProgramButtons.css">
</head>
<h2>Donderdag</h2>
<div id="program">
    <button id="eID10" onclick="window.open()">AIVD - De wolf in schaapskleren</button>
    <button id="eID11" onclick="window.open()">Blood uit nood of ...</button>
    <button id="eID12" onclick="window.open()">Ex Machina</button>
    <button id="eID13" onclick="window.open()">Chappie</button>
    <button id="eID14" onclick="window.open()">Her</button>
    <button id="eID15" onclick="window.open()">Moon</button>
    <button id="eID16" onclick="window.open()">Gravity</button>
    <button id="eID17" onclick="window.open()">Comuter Chess</button>
    <button id="eID18" onclick="window.open()">Artificial Intelligence</button>
    <button id="eID19" onclick="window.open()">Minority Report</button>
    <button id="eID20" onclick="window.open()">Ghost in the Shell</button>
    <button id="eID21" onclick="window.open()">THX 1138</button>
    <button id="eID22" onclick="window.open()">Solaris</button>
</div>
<p>
    Hierboven vindt u het festival programma...
</p>