@{
    ViewBag.Title = "Vrijdag";
}

<head>
    <title>Woensdag</title>
    <link rel="stylesheet" type="text/css" href="~/Content/ProgramButtons.css">
</head>
<h2>Vrijdag</h2>
<div id="program">
    <button id="eID23" onclick="window.open()">The Poetry of Details</button>
    <button id="eID24" onclick="window.open()">Hollywood tijdens de Crisis</button>
    <button id="eID25" onclick="window.open()">Frank &amp; Robot</button>
    <button id="eID26" onclick="window.open()">The Pirate Bay AFK</button>
    <button id="eID27" onclick="window.open()">Artificial Intelligence</button>
    <button id="eID28" onclick="window.open()">Comuter Chess</button>
    <button id="eID29" onclick="window.open()">Ghost in the Shell</button>
    <button id="eID30" onclick="window.open()">The Rise and Rise of Bitcoin</button>
    <button id="eID31" onclick="window.open()">The internets own Boy</button>
    <button id="eID32" onclick="window.open()">Paprika</button>
    <button id="eID33" onclick="window.open()">Brazil</button>
    <button id="eID34" onclick="window.open()">Primer</button>
</div>
<p>
    Hierboven vindt u het festival programma...
</p>
