
<h2><span style="color: #ffffff">Programma:  </span>Woensdag</h2>
<div id="program">
    <button id="eID1" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/1', '#Popop1Content');">Ervenis van Chrispijn</button>
    <button id="eID2" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/2', '#Popop1Content');">Haarlem Film Set</button>
    <button id="eID3" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/3', '#Popop1Content');">Wall-E</button>
    <button id="eID4" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/4', '#Popop1Content');">Moon</button>
    <button id="eID5" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/5', '#Popop1Content');">Brazil</button>
    <button id="eID6" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/6', '#Popop1Content');">Minority Report</button>
    <button id="eID7" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/7', '#Popop1Content');">eXistenZ</button>
    <button id="eID8" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/8', '#Popop1Content');">Interstellar</button>
    <button id="eID9" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/9', '#Popop1Content');">2001: A Space Oddysey</button>
</div>
<p>
    Hierboven vindt u het festival programma...
</p>

<!--Popup HTML-->
<div class="overlay-bg"></div>
<div class="overlay-content popup1" id="Popop1Content">

</div>