@{
    ViewBag.Title = "Woensdag";
}

<h2>Woensdag</h2>
<div id="program">
    <button id="eID1" onclick="window.open()">Ervenis van Chrispijn</button>
    <button id="eID2" onclick="window.open()">Haarlem Film Set</button>
    <button id="eID3" onclick="window.open()">Wall-E</button>
    <button id="eID4" onclick="window.open()">Moon</button>
    <button id="eID5" onclick="window.open()">Brazil</button>
    <button id="eID6" onclick="window.open()">Minority Report</button>
    <button id="eID7" onclick="window.open()">eXistenZ</button>
    <button id="eID8" onclick="window.open()">Interstellar</button>
    <button id="eID9" onclick="window.open()">2001: A Space Oddysey</button>
</div>
<p>
    Hierboven vindt u het festival programma...
</p>