@{
    ViewBag.Title = "Zaterdag";
}

<head>
    <title>Woensdag</title>
    <link rel="stylesheet" type="text/css" href="~/Content/ProgramButtons.css">
</head>
<h2>Zaterdag</h2>
<div id="program">
    <button id="eID35" onclick="window.open()">Wat is Film?</button>
    <button id="eID36" onclick="window.open()">Broken Circle</button>
    <button id="eID37" onclick="window.open()">Triumph of the Nerds</button>
    <button id="eID38" onclick="window.open()">Ex Machina</button>
    <button id="eID39" onclick="window.open()">THX 1138</button>
    <button id="eID40" onclick="window.open()">Frank &amp; Robot</button>
    <button id="eID41" onclick="window.open()">Chappie</button>
    <button id="eID42" onclick="window.open()">Moon</button>
    <button id="eID43" onclick="window.open()">Her</button>
    <button id="eID44" onclick="window.open()">2001: A Space Odyssey</button>
    <button id="eID45" onclick="window.open()">Interstellar</button>
</div>
<p>
    Hierboven vindt u het festival programma...
</p>
