
<h2>Zaterdag</h2>
<div id="program">
    <button id="eID35" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/38', '#Popop1Content');">Wat is Film?</button>
    <button id="eID36" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/39', '#Popop1Content');">Broken Circle</button>
    <button id="eID37" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/43', '#Popop1Content');">Triumph of the Nerds</button>
    <button id="eID38" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/44', '#Popop1Content');">Ex Machina</button>
    <button id="eID39" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/45', '#Popop1Content');">THX 1138</button>
    <button id="eID40" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/47', '#Popop1Content');">Frank &amp; Robot</button>
    <button id="eID41" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/49', '#Popop1Content');">Chappie</button>
    <button id="eID42" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/50', '#Popop1Content');">Moon</button>
    <button id="eID43" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/51', '#Popop1Content');">Her</button>
    <button id="eID44" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/53', '#Popop1Content');">2001: A Space Odyssey</button>
    <button id="eID45" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/54', '#Popop1Content');">Interstellar</button>
</div>
<p>
    Hierboven vindt u het festival programma...
</p>


<!--Popup HTML-->
<div class="overlay-bg"></div>
<div class="overlay-content popup1" id="Popop1Content">

</div>