

<h2>Zondag</h2>
<div id="program">
    <button id="eID46" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/56', '#Popop1Content');">Timboektoe</button>
    <button id="eID47" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/57', '#Popop1Content');">De kleur van Sneeuw</button>
    <button id="eID48" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/58', '#Popop1Content');">The Rise and Rise of Bitcoin</button>
    <button id="eID49" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/59', '#Popop1Content');">Moon</button>
    <button id="eID50" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/60', '#Popop1Content');">eXistenZ</button>
    <button id="eID51" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/61', '#Popop1Content');">THX 1138</button>
    <button id="eID52" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/62', '#Popop1Content');">Frank &amp; Robot</button>
    <button id="eID53" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/63', '#Popop1Content');">Gravity</button>
    <button id="eID54" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/64', '#Popop1Content');">Minority Report</button>
    <button id="eID55" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/65', '#Popop1Content');">The Pirate Bay AFK</button>
    <button id="eID56" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/66', '#Popop1Content');">Interstellar</button>
    <button id="eID57" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/67', '#Popop1Content');">Paprika</button>
    <button id="eID58" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/68', '#Popop1Content');">Triumph of the Nerds</button>
    <button id="eID59" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/69', '#Popop1Content');">Brazil</button>
    <button id="eID60" class="show-popup" data-showpopup="1" onclick="LoadPopup('/Programma/Popup/70', '#Popop1Content');">Primer</button>
</div>
<p>
    Hierboven vindt u het festival programma...
</p>


<!--Popup HTML-->
<div class="overlay-bg"></div>
<div class="overlay-content popup1" id="Popop1Content">

</div>