@{
    ViewBag.Title = "Zondag";
}

<head>
    <title>Woensdag</title>
    <link rel="stylesheet" type="text/css" href="~/Content/ProgramButtons.css">
</head>
<h2>Zondag</h2>
<div id="program">
    <button id="eID46" onclick="window.open()">Timboektoe</button>
    <button id="eID47" onclick="window.open()">De kleur van Sneeuw</button>
    <button id="eID48" onclick="window.open()">The Rise and Rise of Bitcoin</button>
    <button id="eID49" onclick="window.open()">Moon</button>
    <button id="eID50" onclick="window.open()">eXistenZ</button>
    <button id="eID51" onclick="window.open()">THX 1138</button>
    <button id="eID52" onclick="window.open()">Frank &amp; Robot</button>
    <button id="eID53" onclick="window.open()">Gravity</button>
    <button id="eID54" onclick="window.open()">Minority Report</button>
    <button id="eID55" onclick="window.open()">The Pirate Bay AFK</button>
    <button id="eID56" onclick="window.open()">Interstellar</button>
    <button id="eID57" onclick="window.open()">Paprika</button>
    <button id="eID58" onclick="window.open()">Triumph of the Nerds</button>
    <button id="eID59" onclick="window.open()">Brazil</button>
    <button id="eID60" onclick="window.open()">Primer</button>
</div>
<p>
    Hierboven vindt u het festival programma...
</p>
