@model IHFF_Websystem.Models.Diner
@{
    
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<hr />
@using (Html.BeginForm("AddDinerToWishlist", "Wishlist"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <input type="submit" value="Create new wishlist ID" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
