@model IHFF_Websystem.Models.Diner
@{
    
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<button name="Video1" class="addToWishlist">Add video1</button>
<button name="Video2" class="addToWishlist">Add video2</button>
<button name="Video3" class="addToWishlist">Add video3</button>
<button name="Video4" class="addToWishlist">Add video4</button>
<hr />
@using (Html.BeginForm("AddDinerToWishlist", "Wishlist"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <input type="submit" value="Create new wishlist ID" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
