@{
    Layout = null;
}

@using IHFF_Websystem.Models
@model IEnumerable<Film>

<p>wtf waarom werkt t niet meer</p>
    <ul>
        @foreach (var film in Model)
        {
            <li>
                <strong>@film.evenementNaam</strong>
                <br />
                <span>@film.beschrijving</span>
                <br />
                <br />
            </li>
        }
    </ul>