@using IHFF_Websystem.Models
@model IEnumerable<IHFF_Websystem.Models.Locatie>
@{
    ViewBag.Title = "Dineren";
}

<h2>Dineren</h2>
@foreach(var item in Model)
{
    if (item.type == "restaurant")
    { 
<div>
    <div class="lColumn">
        <h3>@item.locatieNaam</h3>
        <p>
        @item.beschrijving</p>
    </div>
    <div class="lColumn">
        <img src="../../Images/@item.image" width="200" height="200">
        <p>@Html.ActionLink("Reserveren", "DinerReserveren", new { id = item.locatieID})</p>
    </div>
</div>
}
}