@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/homePage.css">

<img src="../../Images/bannerHome.png" />

<div id="imgwrapper">

    <h1>Internationaal Haarlems Film Festival</h1>

    <h3>Trailer van de dag</h3>

    <iframe width="660" height="368" src="https://www.youtube.com/embed/XHjIqQBsPjk" frameborder="0" allowfullscreen></iframe>

    <img src="../../Images/foodfilmHome.png" />

    <img src="../../Images/exmachinaHome.png" />

    <img src="../../Images/tygogernandtHome.png" />

</div>