@{
    ViewBag.Title = "Home Page";
}

<h1>Raav was hier</h1>

<h2>Fuck deze shit nog een keer</h2>

<h3>Check girehger</h3>

<h4>Voor camille again</h4>

<h5>En nog een want deze is van 11.59</h5>

Nog meer shizzle van camille