<script src="https://maps.googleapis.com/maps/api/js"></script>


<h2>Locaties</h2>
<div id="container">
    <div id="left">
        <div id="Theaters">
            <h3>Theaters</h3>
            <div id="lColumn">
                <h3>Pathé</h3>
                <p>Zijlvest 41-43<br />2011 VB Haarlem<br />https://www.pathe.nl/bioscoop/haarlem</p>

                <h3>Patronaat</h3>
                <p>Zijlsingel 2<br />2013 DN Haarlem<br />http://patronaat.nl</p>
            </div>
            <div id="rColumn">
                <h3>Philharmonie</h3>
                <p>Lange Begijnestraat 11<br />2011 HH Haarlem<br />https://www.theater-haarlem.nl/informatie/</p>

                <h3>Toneelschuur</h3>
                <p>Lange begijnestraat 9<br />2011 HH Haarlem<br />http://www.toneelschuur.nl</p>
            </div>
        </div>
        <div id="Restaurants">
            <h3>Restaurants</h3>
            <div id="lColumn">
                <h3>Stempels Brasserie</h3>
                <p>Klokhuisstraat 9<br />2011 HK Haarlem<br />http://www.stempelsinhaarlem.nl/brasserie<br />Diner 17.30 – 21.30</p>

                <h3>Dijkers</h3>
                <p>Warmoestraat 5-7<br />2011 HN Haarlem<br />http://www.restaurantdijkers.nl/<br />Lunch 11.00 – 15<br />Diner 17.00 – 22.00</p>

                <h3>De Uitkijk</h3>
                <p>Hoge duin en daalseweg<br />2061 AD Bloenebdaal<br />http://www.restaurantdeuitkijk.nl/<br />lunch 12.00 – 15.00<br />Diner 18.00 – 21.00</p>
            </div>
            <div id="rColumn">
                <h3>De Ark</h3>
                <p>Nieuw Heiligland 3<br />2011 EM Haarlem<br />http://www.restaurantdeark.nl<br />Diner 17.30 – 22.00</p>

                <h3>Ratatouille Food & Wine</h3>
                <p>Lange veerstraat 11-13<br />2011 DA Haarlem<br />http://www.ratatouillefoodandwine.nl<br />Alleen lunch ( 12.00 – 14.30 )</p>

                <h3>Restaurant Terra</h3>
                <p>Kerkplein 16a<br />2061 JD Bloemendaal<br />http://www.restaurantterra.nl/<br />Lunch 12:00 – 1700<br />Diner 18.00 – 22.00<br />(zaterdag geen lunch)</p>
            </div>
        </div>
    </div>
    <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1722.0873316757184!2d4.636099475710783!3d52.38131213900981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1snl!2snl!4v1452801178569" width="500" height="400" frameborder="1" style="border:0" allowfullscreen></iframe>
    </div>
</div>