@{
    ViewBag.Title = "Overons";
}

<h2>Over ons</h2>

<h3>
Celluloid & Silver heeft als doelstelling het organiseren en daarmee 
bevorderen van filmfestivals en filmweken in Haarlem, en alles wat daar 
bij komt kijken. Zo biedt het iedereen, van jongeren tot senioren en 
van kunstliefhebbers tot trendy uitgaanspubliek, een gevarieerd en 
boeiend programma. Het 5-daagse festival vindt jaarlijks plaats in 
januari en wordt georganiseerd door 
het Internationaal Haarlems Film Festival.
</h3>