@{
    ViewBag.Title = "Programma";
}

<h2>Programma</h2>
<div id="program">
    <button id="Wall-e">Wall-E</button>
    <button id="Odyssey">Odyssey</button>
</div>
<p>
    Hierboven vindt u het festival programma...
</p>