h2 {
margin: 0px;
padding: 0px;
border: 0px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #3283bc;
    color: white;
    width: 200px;
    text-align: left;
}

.link1 { 
    text-decoration: none;
    color: black;
}

.link1:hover {
    background-color: #3283bc;
}

.link2 {
    text-decoration: none;
    margin: 10px;
    color: white;
}