body {
    background-image: url(../Images/background.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    width: 1500px;
    height: 44px;
    background-image: url(../Images/header.png);
}

a.navvtext {
    text-decoration: none;
    color: white;
    font-family: Verdana;
    display: block;
    width: 240px;
    height: 50px;
    text-align: center;
    margin-top: -15px;
    line-height: 50px;
}

nav {
    width: 1200px;
    height: 50px;
    margin-left: 155px;
    padding: 0;
    border: 0;
    background-image: url(../Images/menubartop.png);
}

#navigatie {
    list-style: none;
    width: 1200px;
    margin: 0;
    padding: 0;
    border: 0;
}

#navigatie li {
    float: left;
    width: 240px;
    padding: 0;
}

#nav2 {
    width: 1200px;
    height: 50px;
    margin-left: 155px;
    background-image: url(../Images/menubarbottom.png);
}

#navigatie2 {
    list-style: none;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

#navigatie2 li {
    float: left;
    width: 240px;
    height: 50px;
    display: block;
}

#banner {
    margin-left: 155px; 
    position: relative; 
    padding: 0px; 
    width: 1200px;
    height: 250px;
}

#banner div {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

#main {
    width: 1200px;
    margin-left: 155px;
    background-color: #dad6cd;
    min-height: 1113px;
    display: inline-block;
}

footer {
    width: 1200px;
    height: 260px;
    margin-left: 155px;
    background-image: url(../Images/footer.png);
}

#wishlistbasket {
    position: absolute;
    float: left;
    left:1110px;
    z-index: 100;
    background-color: #ff0000;
    width: 390px;
    height: 616px;
    background-color:#413F4B;
    opacity: 0.9;
}
#wishlistbasket-inner-style {
    width:350px;
    height:467px;
    max-height:467px;
    margin-left:15px;
    border: 1px #808080 solid;
    background-color:white;
    opacity: 1.0;
    overflow-y: auto; /* does nothing */
    /*height: calc(100% - 100px);*/
}

#wishlistbasket-button {
    display:block;
    width:125px;
    font-size:18px;
    font-family:Arial;
    margin-top:15px;
    margin-left:202px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom:15px;
    padding-right:20px;
    color:#ffffff;
    background-color:#3283BC;
    text-decoration:none;
    font-weight:bold;
    opacity: 1.0;
}
#wishlistbasket-button:hover {
    opacity: 0.9;
}

#wishlistHeader {
    text-decoration:none;
    display:block;
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 15px;
    font-size:32px;
    font-weight:bold;
    font-family: Verdana;
    color:white;
}
#wishlistHeader:hover {
    text-decoration:underline;
}
a.medewerkertext {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
}

#whishlistlink {
    display:block; 
    margin-top: 12px; 
    margin-left: 24px; 
    float: left;
}
#whishlistlink a {
    font-size:20px; 
    font-family:Arial; 
    color:white; 
    font-weight:bold; 
    text-decoration:none;
}

header div.medewerkerlink {
    display: block; 
    text-align: right; 
    margin-bottom: 0; 
    padding: 0 0 0 0; 
    margin-top: 12px; 
    margin-left: 1184px; 
    float: left;
}

h2 {
    margin: 0px;
    font-family: Arial;
    color: #413f4b;
}

h3 {
    margin-top: 15px;
    font-family: Arial;
    color: #413f4b;
}

.classs {
    padding-top: 15px;
}


/*Locaties. -Matthijs*/
#container{
    width:900px;
}
#left {
    width: 600px;
    float:left;
}
#lColumn{
    float:left;
    width:300px;
}
#rColumn{
    float:right;
    width:300px;
}
#Restaurants{
    clear:both;
    margin-top: 300px;
}
#map{
    float:right;
    width:260px;
    height:200px;
}

a.footertext {
    text-decoration: none;
    color: white;
    font-family: Verdana;
    display: block;
    width: 240px;
    height: 50px;
    line-height: 50px;
    margin-left: 50px;
    position: relative;
    top: 30px;
}
#footerwrapper {
    position: relative;
    left: 480px;
    top: -175px;
    width: 400px;
}

#footerwrapper2 {
    position: relative;
    left: 900px;
    top: -318px;
    width: 400px;
}

h4 {
    text-decoration: none;
    color: white;
    font-family: Verdana;
    font-weight: normal;
}

.footerbutton {
    text-decoration: none;
    color: white;
    font-family: Verdana;
    display: block;
    width: 240px;
    height: 50px;
    text-align: center;
    margin-top: -15px;
    line-height: 50px;
    background-color: #3283bc;
    margin-top: 50px;
}

#footerimageswrapper {
    position: relative;
    top: 30px;
    left: 20px;
}