body {
    background-image: url(../Images/background.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    width: 1500px;
    height: 44px;
    background-image: url(../Images/header.png);
}

a.navvtext {
    text-decoration: none;
    color: white;
    font-family: Verdana;
    display: block;
    width: 240px;
    height: 50px;
    text-align: center;
}

nav {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    background-image: url(../Images/menubartop.png);
}

#navigatie {
    list-style: none;
    width: 1200px;
    margin: 0;
    position: relative;
    left: -60px;
}

#navigatie li {
    float: left;
    width: 240px;
    height: 50px;
}

#nav2 {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    background-image: url(../Images/menubarbottom.png);
}

#navigatie2 {
    list-style: none;
    width: 1200px;
    position: relative;
    left: -40px;
    margin: 0 auto;
}

#navigatie2 li {
    float: left;
    width: 240px;
    height: 50px;
    display: block;
}

#banner {
    margin: 0 auto; 
    position: relative; 
    padding: 0px; 
    width: 1200px;
    height: 250px;
}

#banner div {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

#main {
    width: 1200px;
    margin: 0 auto;
    background-color: #dad6cd;
    min-height: 1113px;
}

footer {
    width: 1200px;
    height: 260px;
    margin: 0 auto;
    background-image: url(../Images/footer.png);
}

#wishlistbasket {
    position:absolute;
    float:right;
    right:0;

    z-index:100;

    background-color:#fff;
    border: 3px black solid;
    width:250px;
    height:500px;
}